.dayContainer {
    display: grid;
    grid-template-columns: 400px;
    grid-auto-rows: 40px;
    justify-content: center;
    padding: 40px 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
}

.header {
    text-align: left;
    font-weight: bold;
}

.input {
    width: auto;
    height: 20px;
    margin: 0 100px 0 50px;
    padding: 10px;

}

.goals {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}

.goals:first-child {
    justify-content: center;
}

.goalName {
    text-align: left;
}

.completedGoal {
    color: gray;
    text-decoration: line-through;
}